---
import Hero from '../components/Hero.astro';
import PhotoSection from '../components/PhotoSection.astro';
import FatherSection from '../components/FatherSection.astro';
import LocationSection from '../components/LocationSection.astro';
import ItinerarySection from '../components/ItinerarySection.astro';
import DressCodeSection from '../components/DressCodeSection.astro';
import ConfirmationSection from '../components/ConfirmationSection.astro';
import GiftSection from '../components/GiftSection.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-bg min-h-screen w-full max-w-3xl mx-auto z-0">
		<Hero />
		<PhotoSection />
		<FatherSection />
		<LocationSection />
		<ItinerarySection />
		<DressCodeSection />
		<GiftSection />
		<ConfirmationSection />
	</main>
</Layout>

<style>
	
</style>
