---
import Hero from '../components/Hero.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main class="bg-text min-h-screen w-full max-w-3xl mx-auto z-0">
		<Hero />
	</main>
</Layout>

<style>
	
</style>
