
<section class="flex flex-col text-center justify-center items-center font-avenir">
    <div class="h-40 md:h-48 flex flex-col justify-center items-center">
        <p class="text-primary text-base md:text-xl">Por favor confirma tu asistencia antes del</p>
        <b class="text-primary text-base md:text-xl">05 de diciembre del 2024.</b>
        <a href="#" class="bg-primary text-text text-base md:text-lg mt-8 py-1 px-6 rounded-lg">CONFIRMACIÓN DE ASISTENCIA</a>
    </div>
    <img src="img/pic_5.webp" alt="">
    <div class="h-24 w-full flex flex-col justify-center items-center bg-primary">
        <p class="text-text text-base md:text-xl font-avenir">Aquí empieza nuestra vocación</p>
        <p class="text-text text-base md:text-xl font-athelas">¡CONTAMOS CON TUS ORACIONES!</p>
    </div>
</section>