---
import ItemCountdown from './ItemCountdown.astro'

interface Props {
    deadline: string
}

const { deadline } = Astro.props
---

<div data-date={ deadline } class="flex flex-row w-max h-max gap-4 justify-center items-center py-5 md:py-8 px-10 md:px-16 font-avenir bg-primary text-text rounded-lg md:rounded-2xl mx-auto mt-2">
    <ItemCountdown
    id='data-days'
    text='Días'
    />
    <ItemCountdown
    id='data-hours'
    text='Horas'
    />
    <ItemCountdown
    id='data-minutes'
    text='Min.'
    />
    <ItemCountdown
    id='data-seconds'
    text='Seg.'
    />
</div>

<script>
    const seconds = 1000
    const minutes = seconds * 60
    const hours = minutes * 60
    const days = hours * 24

    function init() {
        const $deadline = document.querySelector('[data-date]')
        if (!$deadline) return

        const $days = document.getElementById('data-days')
        const $hours = document.getElementById('data-hours')
        const $minutes = document.getElementById('data-minutes')
        const $seconds = document.getElementById('data-seconds')

        const deadline = $deadline.getAttribute('data-date')
        if (!deadline) return

        const endDate = new Date(deadline).getTime()

        const formatTime = (time: number) => {
            return Math.floor(time).toString().padStart(2,"0")
        }

        function updateCountdown() {
            const now = Date.now()
            const diff = endDate - now

            if ($days instanceof HTMLElement) {
                $days.innerText = formatTime(diff / days)
            }

            if ($hours instanceof HTMLElement) {
                $hours.innerText = formatTime((diff % days) / hours )
            }

            if ($minutes instanceof HTMLElement) {
                $minutes.innerText = formatTime((diff % hours) / minutes )
            }

            if ($seconds instanceof HTMLElement) {
                $seconds.innerText = formatTime((diff % minutes) / seconds )
            }
        }

        setInterval(updateCountdown, seconds);
        
    }

    init()
</script>