
<section class="py-8 relative overflow-hidden h-40 md:h-52 flex flex-col items-center justify-center">
    <h2 class="to-show font-sweet text-5xl md:text-7xl text-accent">Dress Code</h2>
    <p class="to-show font-avenir text-primary text-sm md:text-xl">Nos encantaría verte formal.</p>
    <img class="-left-10 md:-left-5 absolute h-full top-0" src="assets/side_leaf.png" alt="">
</section>

<style>
    img {
        transform: rotateY(180deg);
    }
</style>