---
import LocationCard from "./LocationCard.astro";


---

<section class="font-avenir text-center text-primary md:text-2xl overflow-hidden">
    <div class="flex w-full justify-between items-center">
        <img class="aspect-square h-24 md:h-32 -ml-7" src="assets/leaves.png" alt="">
        <p class="to-show max-w-[274px] md:max-w-72">Con la bendición de Dios y de nuestro padres</p>
        <img class="flip aspect-square h-24 md:h-32 -mr-7" src="assets/leaves.png" alt="">
    </div>
    <div class="to-show flex justify-between md:justify-around w-[90%] my-6 md:my-12 mx-auto">
        <div>
            <p>Julio Ruano Almeida</p>
            <p>Gladys Lima Cruz</p>
        </div>
        <div>
            <p>Wilson Méndez Peña</p>
            <p>Jacqueline Castro Molina</p>
        </div>
    </div>
    <p class="to-show w-[90%] max-w-[340px] md:max-w-lg mx-auto">Queremos celebrar nuestra unión en Matrimonio, el día más importante de nuestras vidas con nuestra familia y mejores amigos.</p>
    <div class="grid grid-cols-2 w-[90%] gap-6 mx-auto py-8">
        <LocationCard 
        src="assets/church.png"
        title="Ceremonia"
        hour="15H30"
        location="Parroquía San Antonio María Claret"
        address="Todos Los Santos #138 y Víctor Emilio Estrada"
        href="https://maps.app.goo.gl/5JaShfbMGhCXzfji7"
        />
        <LocationCard 
        src="assets/rose_frame.png"
        title="Recepción"
        hour="18H45"
        location="Salón Producción"
        address="Avenida Francisco de Orellana y Luis Orrantia, Edif. Las Cámaras"
        href="https://maps.app.goo.gl/3S2GWNzm7wvc3ENd8"
        />
    </div>
</section>