---
import "photoswipe/style.css"
---

<section class="gallery flex overflow-x-scroll w-[90%] mx-auto gap-4" id="gallery">
    <a class="block w-full h-full min-w-[300px]" href="img/gallery_1.webp" data-pswp-width="2963" data-pswp-height="4445" target="_blank">
      <img src="img/gallery_1_min.webp" alt="">
    </a>
    <a class="block w-full h-full min-w-[300px]" href="img/gallery_2.webp" data-pswp-width="2963" data-pswp-height="4445" target="_blank">
        <img src="img/gallery_2_min.webp" alt="">
    </a>
    <a class="block w-full h-full min-w-[300px]" href="img/gallery_3.webp" data-pswp-width="2963" data-pswp-height="4445" target="_blank">
        <img src="img/gallery_3_min.webp" alt="">
    </a>
    <a class="block w-full h-full min-w-[300px]" href="img/gallery_4.webp" data-pswp-width="2963" data-pswp-height="4445" target="_blank">
        <img src="img/gallery_4_min.webp" alt="">
    </a>
    <a class="block w-full h-full min-w-[300px]" href="img/gallery_5.webp" data-pswp-width="2963" data-pswp-height="4445" target="_blank">
        <img src="img/gallery_5_min.webp" alt="">
    </a>
    <a class="block w-full h-full min-w-[300px]" href="img/gallery_6.webp" data-pswp-width="2963" data-pswp-height="4445" target="_blank">
        <img src="img/gallery_6_min.webp" alt="">
    </a>
    <a class="block w-full h-full min-w-[300px]" href="img/gallery_7.webp" data-pswp-width="2963" data-pswp-height="4445" target="_blank">
        <img src="img/gallery_7_min.webp" alt="">
    </a>
  </section>

<script>
    import PhotoSwipeLightbox from 'photoswipe/lightbox';
    const lightbox = new PhotoSwipeLightbox({
      gallery: '#gallery',
      children: 'a',
      pswpModule: () => import('photoswipe'),
    });
    lightbox.init();
</script>

