
<section class="w-full h-full py-8 bg-pink text-primary text-center font-avenir overflow-hidden">
    <div class="flex justify-between items-center">
        <div class="line-left bg-primary h-[1px] w-1/3 md:w-2/5 duration-300"></div>
        <img class="w-1/4 max-w-32" src="assets/gift.png" alt="">
        <div class="line-right bg-primary h-[1px] w-1/3 md:w-2/5 duration-300"></div>
    </div>
    <p class="custom-line-heigth my-6 w-[85%] max-w-[400px] mx-auto text-pretty text-base md:text-xl">Tu presencia en la Iglesia es lo que m치s valoramos, tu oraci칩n, el regalo que necesitamos. Sin embargo, si quieres darnos una ayuda extra, tu apoyo econ칩mico ser치 muy apreciado y agradecido.</p>

    <div class="to-show flex justify-center items-center mt-12">
        <h2 class="font-sweet text-5xl md:text-7xl">Julio Daniel</h2>
        <h3 class="font-sweet text-3xl md:text-5xl ml-2 mr-1">&</h3>
        <h2 class="font-sweet text-5xl md:text-7xl">Sharon</h2>
    </div>

    <p class="custom-line-heigth text-base md:text-xl mt-4 mb-6 w-[90%] max-w-[400px] mx-auto">Agradecen su obsequio en sobre cerrado o transferencia a la cuenta bancaria:</p>

    <p class="custom-line-heigth text-base md:text-xl">Julio Ruano Lima</p>
    <p class="custom-line-heigth text-base md:text-xl">C.I 0926299603</p>
    <p class="custom-line-heigth text-base md:text-xl">Cuenta ahorros: 0911617970</p>
    <p class="custom-line-heigth text-base md:text-xl">Banco Bolivariano</p>

    <img class="mt-12 scale-[1.2] md:scale-100 md:w-4/5 mx-auto" src="assets/flowers_down.png" alt="">

</section>

<style>
    .custom-line-heigth {
        line-height: 20px;
    }

    @media (width > 768px) {
        .custom-line-heigth {
            line-height: 24px;
        }        
    }
</style>