

<section class="min-h-full w-full max-w-3xl mx-auto pb-8">
    <img class="w-2/5 max-w-60 mx-auto mb-8" src="assets/8_febrero.png" alt="wedding date julio and sharon">
    <article class="w-[90%] max-w-[370px] text-center text-base md:text-3xl mx-auto font-avenir">
        <p>«Después, de esa parte de su costado el Señor Dios hizo una mujer y se la llevó al hombre.</p>
        <p>El hombre dijo: "¡Al fin! ¡Esta es hueso de mis huesos y carne de mi carne! La llamaré mujer, porque fue sacada del hombre".</p>
        <p class="w-[90%] mx-auto">Por esa razón el hombre deja a su papá y a su mamá, se une a su esposa y los dos se convierten en un solo ser»</p>
        <h3 class="pt-8 pb-12 md:pt-10 md:pb-14">Génesis 2: 22-24</h3>
    </article>
    <picture class="grid grid-cols-3 gap-2 md:gap-4 w-full items-center justify-center mx-auto">
        <img class="min-h-60 object-cover object-center grayscale hover:grayscale-0 duration-300" src="img/pic_1.webp" alt="">
        <img class="min-h-60 object-cover object-center grayscale hover:grayscale-0 duration-300" src="img/pic_2.webp" alt="">
        <img class="min-h-60 object-cover object-center grayscale hover:grayscale-0 duration-300" src="img/pic_3.webp" alt="">
    </picture>
</section>