---

---

<section class="py-8 relative overflow-hidden h-max flex flex-col items-center justify-center">
    <h2 class="to-show font-sweet text-5xl md:text-7xl text-accent text-center">Hagamos un <br>Playlist</h2>
    <p class="to-show font-avenir text-primary text-sm md:text-xl w-4/5 mx-auto text-center">Déjanos saber qué canciones crees que no deben faltar en un día tan especial.</p>
    <img class="-right-12 md:-right-6 absolute h-full top-0 -z-0 opacity-25" src="assets/side_leaf.png" alt="">
    
    <a href="https://open.spotify.com/playlist/2Ekj7qDeUiJfw9mRTWBMcp?si=b-ssg1GjRFicDMq6ehKzqQ&pi=u-0RR_rIA8TDeB&pt=cf7ba0b983c02ca341598a4e343ad884" class="to-show bg-primary text-text text-base md:text-lg my-4 py-1 px-6 rounded-lg z-10" target="_blank">CONFIRMACIÓN DE ASISTENCIA</a>
</section>